* {
    color: black;
    font-family: "Segoe UI";
    font-size: medium;
}

#main-heading {
    background-color: #00334D;
    grid-area: 1 / 1 / 1 / 5;
    margin: 0%;
}

#main-heading p {
    color: white;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

body {
    background-color: #FAEBD7;
    background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, auto);
}

#alcohol-menu {
    grid-area: 2 / 1 / 2 / 5;
}

li.alcohol-item {
    display: inline-block;
    text-align: center;
    padding: 2px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 9.5%;
}

#cocktail-menu {
    grid-area: 3 / 1 / 6 / 1;
    border: 4mm ridge rgba(29, 31, 4, 0.6);
    padding: 5px;
    max-height:780px;
}

#cocktails {
    min-height: 200px;
    height: 600px;
    max-height: 650px;
    overflow: hidden;
    overflow-y: scroll;
}

body section#cocktail-title {
    grid-area: 3 / 2 / 3 / 4;
}

#cocktail-details {
    grid-area: 4 / 2 / 4 / 2;
}

#cocktail-name {
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
}

#cocktail-recipe {
    grid-area: 4 / 3 / 4 / 3;
}

#cocktail-ingredients {
    grid-area: 3 / 4 / 6 / 4;
    border: 4mm ridge rgba(29, 31, 4, 0.6);
    padding: 5px;
    max-height: 780px;
}

#feedback-request {
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

#feedback {
    grid-area: 5 / 2 / 5 / 4;
    padding-left: 15px;
    max-height: 380px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}